.urlopownik-global {
  width: 100%;
}
.urlopownik-td-menu {
  width: 100px;
  vertical-align: top;
}

.urlopownik-td-site {

}

.urlopownik-menu {

}


.urlopownik-global td {
  padding: 4px 10px;
  border: 1px solid #00d5d5;
}

.urlopownik-hand-click {
  cursor: pointer;
  cursor: hand;
}
