th, td {
  padding: 4px 20px;
  border: 1px solid #d5d5d5; }

#AddUserButton {
  position: relative;
  width: 200px; }

body {
  margin: 10px;
  padding-top: 60px;
  padding-bottom: 40px; }

.hand-click {
  cursor: pointer;
  cursor: hand; }
