{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    {% compress js %}
    <script src="{% static "flexdb/js/vendor/jquery-2.0.2.js" %}"></script>
    <script src="{% static "flexdb/js/vendor/bootstrap-2.3.2.js" %}"></script>
    <script src="{% static "flexdb/js/vendor/angular-1.1.5.js" %}"></script>
    <script src="{% static "flexdb/js/helloworld.js" %}"></script>
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "flexdb/css/vendor/bootstrap-2.3.2.css" %}">
    <link rel="stylesheet" href="{% static "flexdb/css/vendor/bootstrap-responsive-2.3.2.css" %}">
    <link rel="stylesheet" href="{% static "flexdb/css/main.css" %}">
    {% endcompress %}

</head>

<body>

<h3> Hello World!</h3>
<a href="{% url 'socialauth_begin' 'google-oauth2' %}">Login</a>

<div ng-app = "flexdb">

    <div ng-controller = "tableControll">

        <h3> Hello World!</h3>
        <input class="btn-primary" type="submit" value="Change your data" ng-click="loadUserData()" ng-show="!is_user_data_shown">
        <input class="btn-primary" type="submit" value="Finish changing" ng-click="hideUserData()" ng-show="is_user_data_shown">
        <br /><br />
        <div ng-show="is_user_data_shown">
            <table>
                <tr>
                    <td>User</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Email</td>
                </tr>
                <tr >
                    <td>[[ user.username ]]</td>
                    <td>[[ user.last_name ]]</td>
                    <td>[[ user.first_name ]]</td>
                    <td>[[ user.email ]]</td>
                </tr>
            </table>
            <br>
            <form ng-submit="changeUserData()">
                User: <input type="text" ng-model="data.username"><br>
                First name: <input type="text" ng-model="data.last_name"><br>
                Last name: <input type="text" ng-model="data.first_name"><br>
                Email: <input type="text" ng-model="data.email"><br>
                <input class="btn-primary" type="submit" value="Change" id = "AddUserButton">
            </form>
        </div>


    </div>
</div>

</body>

</html>
