{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    {% compress js %}
        <script src="{% static 'main_page/js/vendor/jquery-2.0.2.js' %}"></script>
        <script src="{% static 'main_page/js/vendor/bootstrap-2.3.2.js' %}"></script>
        <script src="{% static 'main_page/js/vendor/angular-1.1.5.js' %}"></script>
        <script src="{% static 'main_page/js/helloworld.js' %}"></script>
        {% for x in apps %}
        <script src="{% static x|add:'/js/main.js' %}"></script>
        {% endfor %}
    {% endcompress %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'main_page/css/vendor/bootstrap-2.3.2.css' %}">
        <link rel="stylesheet" href="{% static 'main_page/css/vendor/bootstrap-responsive-2.3.2.css' %}">
        <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
        {% for x in apps %}
        <link rel="stylesheet" href="{% static x|add:'/css/main.css' %}">
        {% endfor %}
    {% endcompress %}

</head>

<body>
<div ng-app="flexdb">
    <div ng-controller="overallAppControler">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a class="hand-click" ng-show="!logged" href="{% url 'socialauth_begin' 'google-oauth2' %}">Login</a>
                    </li>
                    <li><a class="hand-click" ng-show="logged" href="/logout/">Logout</a></li>
                    <li><a class="hand-click" ng-click="showUserData()" data-toggle="modal" ng-show="logged">Change user data</a></li>
                    <li><a class="hand-click" ng-click="goToAppsList()">Go to apps list</a></li>
                </ul>
            </div>
        </div>

        <div ng-show="applist">
            <ul>
                {% for x in apps %}
                <li class="hand-click"><a ng-click="appClick('{{ x }}')">{{ x }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div ng-controller="mainAppControler"> </div>

        <div  class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" ng-controller = modalControll>

               <errorhandle errorname = "no error"></errorhandle>

        </div>
    </div>
</div>
</body>

</html>
