<div ng-controller="tableControll" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Change data</h3>
    </div>

    <div class="modal-body">

        User: <input type="text" ng-model="data.username"><br>
        Last name: <input type="text" ng-model="data.last_name"><br>
        First name: <input type="text" ng-model="data.first_name"><br>
        Email: <input type="text" ng-model="data.email"><br>
    </div>


    <div class="modal-footer">

        <form ng-submit="changeUserData()">
        <input class="btn-primary" type="submit" value="Apply changes" id="AddUserButton" data-dismiss="modal" >
        </form>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>




